.parent, .parent1{
  border: 1px solid #ccc;
}
.parent{
  margin-bottom: 20px;
}

.parent1{
  height: 200px;
}


.parent{
  width: 200px;
  border: 1px solid #ccc;
  text-align: center
}
.child{
  display: inline-block;
}


/* 第二种 */
/* .child{
  display: table;
  margin: 0 auto;
} */

/* 第三种 */
/* .parent{
  position: relative;
  height: 60px;
  line-height: 60px;
}
.child{
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
} */

/* 第四种 */
/* flex-item默认宽度是auto */
/* .parent{
  display: flex;
  justify-content: center;
} */


/* 垂直居中 */
/* 第一种方法 */
/* .parent1{
  display: table-cell;
  vertical-align: middle;
} */

/* 第二种方法 */
/* .parent1{
  position: relative;
}
.child1{
  top: 50%;
  position: absolute;
  transform: translateY(-50%)
} */

.parent1{
  display: flex;
  align-items: center;
}